.getInvolved {
  display : grid;

  grid-template-areas :
". one one . . . ."
". . . . two two ."
". three three . . . ."
". . . . four four ."
". five five . . . ."
". . . six six . .";
  grid-template-columns : [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 1fr;
  grid-template-rows : 1fr 1fr 1fr 1fr 1fr 3fr;
}


.one {
  font-size : 1.2rem;

  grid-area : one;
}
.two {
  font-size : 1.2rem;

  grid-area : two;
}
.three {
  font-size : 1.2rem;

  grid-area : three;
}
.four {
  font-size : 1.2rem;

  grid-area : four;
}
.five {
  font-size : 1.2rem;

  grid-area : five;
}
.six {
  grid-area : six;
}
