.landing {
  display: flex;
  flex-direction: column;
  background-color: #202225;
  color: white;

  align-items: center;
  justify-content: center;
}
.subhead {
  font-size: 18px;
  text-align: center;
}
