.projects {
  margin-top : 5rem;
}
.projectsContainer {
  display : flex;

  max-width : 100%;

  flex-wrap : wrap;
}


.item1 {
  background : linear-gradient(15deg, rgb(100, 225, 181), rgb(156, 216, 220));

  @extend %projectPlaceHolder;
}

.item2 {
  background : linear-gradient(15deg, rgb(229, 118, 138), rgb(226, 185, 172));

  @extend %projectPlaceHolder;
}

.item3 {
  background : linear-gradient(15deg, rgb(3, 197, 136), rgb(29, 202, 222));

  @extend %projectPlaceHolder;
}

.item4 {
  background : linear-gradient(15deg, rgb(116, 168, 144), rgb(165, 170, 170));

  @extend %projectPlaceHolder;
}
