@mixin rounded-corner($arc) {
  border-radius : $arc;
}

@mixin offsetShadow($xval, $yval, $blur, $spread) {
  box-shadow : $xval $yval $blur $spread hsla(0, 0%, 0%, 0.2);
}
@mixin offsetShadow($xval, $yval, $blur, $spread) {
  box-shadow : $xval $yval $blur $spread hsla(0, 0%, 0%, 0.2);
}

@mixin insetShadow($xval, $yval, $blur, $spread) {
  box-shadow : inset $xval $yval $blur $spread hsla(0, 0%, 0%, 0.08);
}

@mixin transform($transforms) {
  transform : $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
  @include transform(scale($scale));
}
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
@mixin translateX ($x) {
  @include transform(translateX($x));
}
@mixin translateY ($y) {
  @include transform(translateY($y));
}
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
